@model UserDetailsDto

@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-2 px-4">
            <div class="">
                <img alt="@Model.Name" class="rounded-circle mt-3" style="width:32px;height:32px; object-fit:cover" src="~/images/non-user.jpeg">
            </div>
            <div class="mt-4">
                <h6>@Html.DisplayFor(model => model.Name)</h6>
            </div>
            <div class="mt-2 text-black-50">
                <p>@Html.DisplayFor(model => model.Biography)</p>
            </div>
        </div>
        <div class="col-8">
            @*@foreach (var item in Model.Articles)
            {
                <div class="col-12">
                    <p class="m-2">
                        Published in <a class="text-decoration-none text-dark fw-bold" asp-action="Details" asp-controller="Member" asp-route-id="@item.Member.ID">@Html.DisplayFor(modelItem => item.Member.Name)</a> . <label>@Html.DisplayFor(modelItem => item.CreatedDate)</label>
                    </p>
                    <div class="mt-0">
                        <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                    </div>
                    <div class="mt-4">
                        <p>
                            @Html.DisplayFor(modelItem => item.Content)
                        </p>
                    </div>
                    <div class="mt-4">
                        <a class="link-success text-decoration-none" asp-action="Details" asp-controller="Member" asp-route-id="@item.Member.ID">Read More in <label>@Html.DisplayFor(modelItem => item.Member.Name)</label> . <label>@Html.DisplayFor(modelItem => item.ReadTime)</label></a>
                    </div>
                    <div class="mt-4">
                        <div class="float-end mt-1">
                            <div class="dropdown">
                                <button class="btn bi-three-dots px-0 float-end fs-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Dismiss This Story</a></li>
                                    <li><a class="dropdown-item" href="#">Mute This Author</a></li>
                                    <li><a class="dropdown-item" href="#">Block This Author</a></li>
                                    <li><a class="dropdown-item" href="#">Report This Author</a></li>
                                </ul>
                                <a class="link-dark bi-bookmark float-end fs-5 mt-1 mx-2" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
            }*@
        </div>
    </div>
</div>